{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": ["", ".json", ".js", ".jsx"],
        "moduleDirectory": ["src", "node_modules"]
      }
    }
  },
  "rules": {
    "no-underscore-dangle": [0],
    "global-require": [0],
    "linebreak-style": [0],
    "import/no-extraneous-dependencies": [0]
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
